

.products{

  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  justify-content: space-around;
  row-gap: 30px;
  column-gap: 10px;
}

.title{
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin: 30px;
  color:#f40
}